.new-pedido-container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-pedido-container .content {
  width: 100%;
  padding: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-pedido-container .content section img {
  width: 300px;
}

.new-pedido-container .content section {
  width: 100%;
  max-width: 380px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new-pedido-container .content section h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #45a29e;
  font-size: 32px;
}

.new-pedido-container .content section p {
  font-size: 20px;
  color: #c5c6c7;
  margin-bottom: 30px;
}

.new-pedido-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-pedido-container .content form input {
  margin-top: 8px;
}
